@import './theme.scss';

// Define common application wide classes here.  These classes should specify
// non-color based style attributes (such as padding, borders, margins, ...).
// If the attributes are assocated with a color-based class, defined within the
// theme-classes.scss, then the same class name should be used to specify the
// additional non-color based attribues.

// The same applies to component specific styles but the non-color style attribues
// are located within the component's specific scss file.

// Also, any component specific classes, named the same as within this file, can
// be used to override the application wide class attribute values specified here.

// NOTE:  All colors should be theme based and specified by class defined within
// the theme-classes.scss file.


body {
    margin: 0;
}

.portal-container {
  .portal-sidenav-container {
        .portal-content {

            // The following are the common styles shared beetween all content
            // areas.  If needed, they can be overriden within as specific area.
            .portal-area-toolbar {
                min-height: 52px;

                .mat-toolbar-row {
                  height: 52px;

                  button {
                      margin-right: 10px;
                  }

                  a.mat-raised-button {
                    margin-right: 10px;
                  }

                  .toolbar-item-spacer {
                    flex: 1 1 auto;
                  }

                  .toolbar-form-input {
                    font-size: 14px;
                    width: 280px;
                    padding-top: 12px;
                    margin-right: 12px;
                  }
                }
            }
            .portal-area-content {
                padding: 15px;

                .nav-link {
                  cursor: pointer;
                  &:hover {
                    font-weight: bold;
                  }
                }

              .icon-button {
                cursor: pointer;
              }

              .button-actions {
                button {
                  margin-right: 15px;
                }
              }
            }

          .portal-area-message {
            padding: 15px;
            font-style: italic;
          }

          .portal-area-listing {
            dt {
              text-decoration: underline;
              font-weight: bold;
            }
            dd {
              margin-inline-start: 20px;
              padding-top: 10px
            }
          }
        }
    }

  .portal-value-grouping {
    margin-block-start: 0;
    margin-block-end: 0;

    dt {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .portal-value-list {
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      margin-block-start: 0;
      margin-block-end: 0;

      dt:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      dt {
        padding-left: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: bold;
      }

      dd {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;
        font-size: 12px;
        margin-inline-start: 20px;
      }
    }

  .portal-component {
      border-width: 2px;
      margin: 5px;
      border-radius: 10px;
      padding:5px;
      border-style: solid;
  }

  table.portal-table {
    .mat-header-row {
      min-height: 20px;

      .mat-header-cell {
        font-size: 12px;
      }
    }
    .mat-row {
      min-height: 20px;

      .mat-cell {
        font-size: 11px;
      }
    }
  }
}
