<div class="resource-path">
  <ng-container *ngFor="let resource of actionDocState.visitedResourceDocs">
    <span>&#047;</span>
    <span><a href="javascript: void(0)" (click)="onVisitedResourceSelected(resource)">{{resource.resourceName}}</a></span>
  </ng-container>
</div>
<div>
  <app-resource-doc [resourceDoc]="actionDocState.currentResourceDoc"
        (onChildResourceSelected)="onChildResourceSelected($event)"
        (onRelationSelected)="onNavToActionDoc($event)"
        (onShowResourceCode)="onLoadResourceCode($event)">
  </app-resource-doc>
</div>
