<mat-toolbar class="portal-area-toolbar">
  <mat-toolbar-row>
    CQRS Message Log

    <span class="toolbar-item-spacer"></span>

    <mat-form-field class="toolbar-form-input">
      <mat-label>connections</mat-label>
      <mat-select [formControl]="connections" multiple>
        <mat-select-trigger>
          {{connections.value?.length > 0 ? connections.value[0].name : ''}}
          <span *ngIf="connections.value?.length > 1" class="example-additional-selection">
        (+{{connections.value.length - 1}} {{connections.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let connection of application.connections" [value]="connection">
          {{connection.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="toolbar-form-input">
      <mat-label>sort order</mat-label>
      <mat-select [formControl]="sortOrder">
        <mat-option *ngFor="let sort of sortOrders" [value]="sort">
          {{sort.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="portal-area-content" fxLayout="row">
  <mat-accordion fxFlex="" class="log-entry">
    <mat-expansion-panel *ngFor="let log of application.selectedConnectionLogs">
      <mat-expansion-panel-header class="log-header">
        <mat-panel-title fxLayout="row" class="log-title">
          <div style="width: 50px"><mat-icon [svgIcon]="log.hint"></mat-icon></div>
          <div style="width: 100px">{{log.dateOccurred | date:'mediumTime'}}</div>
          <div style="width: 100px">{{log.connectionName}}</div>
          <div style="width: 150px">{{log.context}}</div>
        </mat-panel-title>
        <mat-panel-description fxLayout="column" class="log-description">
            <span> {{log.correlationId}} </span>
            <span> {{log.messageType}} </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style="border-top: 1px solid black; padding-bottom: 4px" class="log-details">
        <div *ngFor="let detail of getNameValues(log.details)">
          {{detail.name}}: {{detail.value}}
        </div>
        <div *ngFor="let error of getNameValues(log.errors)">
          {{error.name}}: {{error.value}}
        </div>
      </div>

      <json-viewer [json]="log.message"></json-viewer>

    </mat-expansion-panel>
  </mat-accordion>
</div>
