<mat-toolbar class="portal-area-toolbar">
    <mat-toolbar-row>
        Api Entries
    </mat-toolbar-row>
</mat-toolbar>

<div class="portal-area-content" fxLayout="row">
  <div fxLayout="column" fxFlex="45">
    <div class="area-comment" *ngIf="!selectedEntry">
      Select an API entry resource to being navigation.
    </div>
      <mat-form-field>
        <mat-label>Select Connection</mat-label>
        <mat-select (selectionChange)="onConnectionSelected($event.value)">
          <mat-option *ngFor="let connection of application.connections" [value]="connection">
            {{connection.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Api Entry</mat-label>
        <mat-select (selectionChange)="onEntrySelected($event.value)">
          <mat-option *ngFor="let name of entryNames" [value]="name">
            {{name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <app-link-selection [resource]="selectedEntry"
        (linkSelected)="onLinkSelected($event)"
        (displayLinkDocs)="application.viewLinkActionDocs($event)">
    </app-link-selection>
  </div>

  <div fxLayout="column">
    <div class="portal-area-content" *ngIf="rootResource">
      <div>{{rootResource.resourceUrl}}</div>
      <button mat-raised-button color="primary" class="details-button" *ngIf="rootResource.hasDetails" (click)="onViewDetails()">Details</button>
      <app-json-viewer [json]="rootResource.instance.model || rootResource.instance"></app-json-viewer>
    </div>
  </div>
</div>
