::ng-deep .action-doc .mat-form-field-infix {
  width: 285px !important;
  border-top-width: 0;
}

.doc-path {
  padding-right: 15px;
}

.action-doc {
  .divider {
    margin-top: 30px;
  }
  .response-docs {
    padding-top: 25px;
  }
}

.response-list {
  margin-left: 50px;
}


