<dl class="portal-value-grouping">
  <dt>Plugin Metadata</dt>
  <dd>
    <dl class="portal-value-list">
      <dt>Plugin Name</dt>
      <dd>{{plugin.PluginName}}</dd>
      <dt>Plugin Id</dt>
      <dd>{{plugin.PluginId}}</dd>
      <dt>Description</dt>
      <dd>{{plugin.PluginDescription}}</dd>
      <dt>Assembly</dt>
      <dd>{{plugin.PluginAssembly}}</dd>
      <dt>Documentation</dt>
      <dd>
        <a *ngIf="plugin.PluginDocUrl; else naDoc" target="_blank" [href]="plugin.PluginDocUrl">
          {{plugin.PluginDocUrl}}
        </a>

        <ng-template #naDoc>N/A</ng-template>
      </dd>
      <dt>Source</dt>
      <dd>
        <a *ngIf="plugin.PluginSourceUrl; else naSrc" target="_blank" [href]="plugin.PluginSourceUrl">
          {{plugin.PluginSourceUrl}}
        </a>
        <ng-template #naSrc>N/A</ng-template>
      </dd>
    </dl>
  </dd>

  <dt>Plugin Modules</dt>
  <dd>
    <div>
      <mat-form-field *ngIf="plugin.ModuleDetails?.length; else noModules">
        <mat-label>Plugin Module</mat-label>
        <mat-select [(value)]="selectedPluginModule">
          <mat-option *ngFor="let module of plugin.ModuleDetails" [value]="module">
            {{module.ModuleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template #noModules>
        Plugin does not have any defined modules.
      </ng-template>

      <app-json-viewer [json]="selectedPluginModule"></app-json-viewer>
    </div>
  </dd>

  <dt>Plugin Registered Services</dt>
  <dd>
    <table style="width: 100%" mat-table [dataSource]="plugin.ServiceRegistrations" class="portal-table"
      *ngIf="plugin.ServiceRegistrations?.length; else noServices" class="registrations-table mat-elevation-z8">

      <ng-container matColumnDef="serviceType">
        <mat-header-cell *matHeaderCellDef> Service Type </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.serviceType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="implementationType">
        <mat-header-cell *matHeaderCellDef> Implementation Type </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.implementationType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lifeTime">
        <mat-header-cell *matHeaderCellDef> Lifetime </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.lifeTime}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="serviceColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: serviceColumns;"></mat-row>
    </table>

    <ng-template #noServices>
      Plugin does not have registered services.
    </ng-template>
  </dd>
</dl>





